@charset "utf-8";

/*
  --------------
  BIBLIOTECA DE CLASSES
  --------------
*/


/* ------- PALETA DE CORES ------- */
$cor_textos: #000; // textos de conteúdo
$cor_body: #fff; // cor do fundo do site
$tamanho_textos: 12px;


/* ------- CLASSES ------- */

  /* alinhamentos */
  .direita { float: right; }
  .esquerda { float: left; }
  p {
    &.direita,
    &.esquerda { float: none; }
    &.direita { text-align: right; }
    &.esquerda { text-align: left; }
  }
  .centro { text-align: center; }

  // image replacement
  .rpl { font: 0/0 a !important; color: transparent !important; }

    @mixin rpl($width, $height, $image: null, $display: null) {
      width: $width;
      height: $height;
      @if $image != null { background: image-url('#{$image}') no-repeat; }
      @if $display != null { display: $display; }
      @extend .rpl;
    }

  // tamanho de fontes px para em
  @function em($px, $base: $tamanho_textos) {
    @return ($px / $base) * 1em;
  }

  // quebra texto em linhas (palavras grandes)
  .wrap {
    text-wrap: wrap;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
  }